.cabecera h1,
a {
    display: inline;
}

.contenedor {
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera"
        "menuNavegacion areaPrincipal areaPrincipal"
        "pie pie pie";
}

.cabecera {
    grid-area: cabecera;
}

.menuNavegacion {
    grid-area: menuNavegacion;
}

.areaPrincipal {
    grid-area: areaPrincipal;
}

.pie {
    grid-area: pie;
}

.formulario {
    width: 400px;
    margin: 0 auto;
}

.tituloSeccion {
    text-align: center;
}

.tablaMostrarRegistros {
    width: 80%;
    margin: 0 auto;
}
